<?xml version="1.0"?>
<robot name="my_arm">
    <link name="world"/>
    <link name="base_link">
        <visual>
            <geometry>
                <mesh filename="package://robot_arm_stl/base_link.stl"/>
            </geometry>
            <material name="red"/>
        </visual>
    </link>

    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child  link="base_link"/>
    </joint>

    <link name="link1">
        <visual>
            <geometry>
                <mesh filename="package://robot_arm_stl/link1.stl"/>
            </geometry>
            <materilal name="red"/>
        </visual>
    </link>
            
    <joint name="join1" type="revolute">
        <axis xyz="0 0 1"/>
        <parent link="base_link"/>
        <child  link="link1"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0437"/>
        <limit lower="-1.5708" upper="1.5708" effort="0.32" velocity="4.56"/>
    </joint>

    <link name="link2">
        <visual>
            <geometry>
                <mesh filename="package://robot_arm_stl/link2.stl"/>
            </geometry>
            <materilal name="red"/>

        </visual>
    </link>
            
    <joint name="join2" type="revolute">
        <axis xyz="1 0 0"/>
        <parent link="link1"/>
        <child  link="link2"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.035"/>
        <limit lower="-1.5708" upper="1.5708" effort="0.32" velocity="4.56"/>
    </joint>

    <link name="link3">
        <visual>
            <geometry>
                <mesh filename="package://robot_arm_stl/link3.stl"/>
            </geometry>
            <materilal name="red"/>

        </visual>
    </link>
            
    <joint name="join3" type="revolute">
        <axis xyz="1 0 0"/>
        <parent link="link2"/>
        <child  link="link3"/>
        <origin rpy="0 0 0" xyz="0.0 0.0 0.085799"/>
        <limit lower="-1.5708" upper="1.5708" effort="0.32" velocity="4.56"/>
    </joint>
    <link name = "end_link">
       <visual>
         <geometry>
             <box size="0.0001 0.0001 0.0001"/>
         </geometry>
       </visual>
    </link>

    <joint name="end_fixed" type="fixed">
        <parent link="link3"/>
        <child  link="end_link"/>
       <origin rpy="0 0 0" xyz="0.0 0.0 0.098"/>

    </joint>  
</robot>